body {
 font-family: 'Quicksand', sans-serif;
 position: relative;
}

/*custom media queries**/

@media (max-width: 1000px) {
  .roboImg
{    width: 100% !important;

  }
  .overlay{
    width: 100% !important;
  }
  .robotRow{
    padding-left: 0% !important;
  }
}

@media (max-width: 767px) {
  .roboImg{
    width: 100% !important;

  }
  .overlay{
    width: 100% !important;
  }
  .robotRow{
    padding-left: 0% !important;
  }

}


@media (max-width: 480px) {
  .content{
    width: 95% !important; 
  }

  .teamImage:hover .overlay {
    height: 35% !important;
  }
  .text{
    font-size: 8px !important;
  }
  .robotRow{
    padding-left: 0% !important;
  }

}


@media (max-width: 1200px) {


}
/*--------NAVBAR---------*/

.opaque-navbar {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color .5s ease 0s;
}

.opaque {
    background-color: #510c1d;
    border-color: #5101cd;
    border-bottom: thick solid #9a8154;
    transition: background-color .5s ease 0s;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff !important; 
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #9a8154 !important;
}


/*
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #510c1d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #9a8154;
  background-color: #510c1d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #510c1d;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #9a8154;
  background-color: #510c1d;
}
*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #9a8154;
    background-color: #510c1d;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #9a8154;
    background-color: #510c1d;
}

.navbar-default .navbar-toggle {
    margin-top: 19px !important;
    /*    border-color: #510c1d;*/
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #9a8154;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #9a8154;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #9a8154;
        background-color: #510c1d;
    }
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    font-size: 120%;
}

.navbar-nav > li > a {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    font-size: 120%;
}


/*---------CONTENT----------*/

.section-heading {
    margin-top: 0px !important;
}

.imageSlide {
    padding: 0px;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
/* about first */ 
.video {
    margin-top: 30px;
}

.aboutFirst{
  width: 80% !important;
}
.sectionLine {
    margin: 0px;
    background-color: #9a8154;
    height: 8px;
}
.firstSectionLine{
    float:left;
    width:250px;
    margin: 0px;
}
.spacerLine{
    margin: 0px;
    margin-bottom: 10px;
}
.content{
    width: 70%;
}


/* teamPictures*/

.teamImage{
    display: block;
    padding: 0px;
  
    /*margin-bottom: 20px;*/
   /* width: 80%;*/
    position: relative;
      
    z-index: 4;
    margin-bottom: 5%;
}
.
/* footer */
.footerHeading a{
    color: #ffffff !important;

}
.footerLink{
  color: #ffffff !important;
}
.footer-menu-divider{
    color: white;
}

.footerHeading{
    text-align:center;
}
#gitHub{
  opacity: 0.85;
}
.iconImage:hover{
    opacity:0.6 !important; 
        transition: opacity .2s ease 0s;

}
/* schedule */ 

.calendar{
  margin: 0 auto;
  width: 100%;
}

/* the robot */ 
.robotRow{
  padding-left: 5.2% ;
}
.overlay {
  position: absolute;
  bottom: 0;
  /*left: 0;
  right: 0;*/
  background-color:  rgba(0,0,0,0.7);
  overflow: hidden;
  width: 90%;
  
  text-align: center;
  height: 0;
  transition: .2s ease;
}

.teamImage:hover .overlay {
  height: 30%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.col-centered{
  float: none;
  margin: 0 auto;
}

.robotPics{
  text-align: center;
}
.robotLine{
   margin-bottom: 20px;
    background-color: #9a8154;
    height: 3px;

}
.roboImg{
  width: 90%;
}

.robotHeading{
  margin-bottom: 20px;
}
/*contact*/ 
.contactHeading{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

